/* Стили из custom.css */

a,
body,
div,
h1,
h3,
header,
html,
img,
li,
p,
section,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

header,
section {
    display: block
}

button::-moz-focus-inner {
    border: none
}

.site {
    margin: 0 auto
}

a:hover {
    text-decoration: none
}

::selection {
    background: #292929;
    color: #fff
}

::-moz-selection {
    background: #292929;
    color: #fff
}

button {
    border: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background: #ff009c
}

button:active {
    background: #ff009c;
    box-shadow: inset 0 0 6px #c40f6f
}

.site {
    min-height: 100%
}

@media screen and (max-width:640px) {
    body,
    html {
        min-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: 100%;
        font-size: 16px;
        -webkit-text-size-adjust: 100%;
        position: relative
    }
    body {
        height: auto;
        min-height: 100%
    }
    h1 {
        font-size: 1.125em
    }
    h1 {
        line-height: 1.1
    }
    h3 {
        font-size: .938em;
        line-height: 1.1;
        margin: 0
    }
    p {
        font-size: .875em;
        line-height: 1.4
    }
    .site {
        max-width: 100%
    }
    .site {
        overflow: hidden;
        position: relative;
        min-height: 0
    }
    button {
        padding: .5em;
        font-size: .875em;
        line-height: 1
    }
    button:active {
        box-shadow: none
    }
}

@media screen and (min-width:641px) and (max-width:950px) {
    html {
        overflow-x: hidden
    }
    body {
        min-width: 100%;
        width: 100%
    }
}











/* Стили из style.css */

body {
	font-family: 'Arial', sans-serif !important;
	background: #fff;
	color: #041182;
}

h1, h3 {
	font-family: 'Arial', sans-serif !important;
	color: rgba(229, 0, 121, 1);
	margin: 0;
	font-weight: bold;
}

h1 {
	margin-bottom: 0.5em;
}

ul {
	margin-left: 0;
	list-style-type: none;
}

header a {
	color: rgba(4, 17, 130, 1);
	text-decoration: none;
}

.header-phone-mobile {
	display: none;
}

section {
	padding: 50px 0;
}

.container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.flex {
	display: flex;
}

.navbar {
	justify-content: space-between;
	align-items: center;
	padding: 25px 0;
}

.header-phone {
	font-size: 1.5em;
}

.hero {
	padding-bottom: 0;
}

.hero-heading {
	font-size: 3.5em;
	font-weight: 600;
	letter-spacing: -0.04em;
	padding: 20px 0;
}

.hero-paragraph {
	font-size: 1.4em;
	margin-bottom: 1em;
	font-weight: 400;
}

.tabs-menu {
	width: 100%;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
	justify-content: center;
}

.tabs-menu button {
	max-width: calc(100% / 6);
	min-width: calc(100% / 6);
	/*width: calc(100% / 6);*/

	line-height: 1em;
	font-size: 1.1em;
	padding: 15px 20px;
	text-align: center;
	min-height: 65px;
	outline:none !important;
}

.tabs-menu button:hover {
	filter: brightness(1.1);
}

.tabs-menu button:active {
	filter: brightness(0.9);
	box-shadow: none;
}

button.current {
	transform: scale(1.1) translateY(-2px);
	z-index: 2;
	box-shadow: 0 -2px 8px -5px black;
}

.footer-custom {
	padding: 100px 0 60px;
	background-color: #041182;
	color: #23286b;
	font-size: 1.1em;
}

.footer-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 52px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #fff;
	text-align: left;
	flex-wrap: wrap;
}

.footer-label {
	margin-top: 0px;
	margin-bottom: 8px;
	font-size: 1em;
	color: white;
	line-height: 32px;
}

.footer-link {
	display: block;
	margin-bottom: 10px;
	color: #b8b8b8;
	text-decoration: none;
	line-height: 1em;
}

.footer-logo {
	height: 100%;
	margin-bottom: 50px;
}

.subfooter {
	color: #b8b8b8;
	font-size: 0.8em;
	text-align: left;
}





















/* Мои стили для вопросов */



nav {
  width: 100%;
  background-color: #041182;
  margin-bottom: 10px;
}

.nav_wrapper {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	padding: 11px 0;
}

.nav_item a {
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.nav_item a:hover {
	text-decoration: underline;
}

.tab-content {
	color: #fff;
	padding-top: 20px;
	display: block;
	opacity: 0.85;
	padding-bottom: 30px;
}

.tab-content-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	max-width: 1140px;
}

.qa_item {
	width: 50%;
}

.qa_item_container {
	border-radius: 20px;
	border: 2px solid #fff0;
	padding: 15px 15px 20px;
	margin: 30px 10px;
	display: flex;
}

.qa_item_container.active {
	border: 2px solid white;
}



.qa_icon {
	display: block;
	width: 45px;
	min-width: 40px;
	/*text-align: center;*/
	font-size: 24px;
}

.qa_question {
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 22px;
    line-height: 1.2em;
}

.qa_answer {
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}

.item_separator {
	width: 40%;
	height: 2px;
	opacity: 0.7;
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
}


















/*! CSS Used from: https://priem.urfu.ru/css/app.3376acb6.css */
.pure-container {
    position: relative;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
.pure-toggle {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
.pure-toggle:focus ~ .pure-toggle-label {
    border-color: #1fc08e;
    color: #1fc08e;
}
.pure-toggle-label {
    display: none;
    cursor: pointer;
    display: block;
    color: #fff;
    width: 55px;
    height: 50px;
    transition: all 0.4s ease-in-out;
    border: none;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 9999;
	position: inherit;
}
.pure-toggle-label:hover {
    border-color: #e4e4e4;
    color: #e4e4e4;
}
.pure-toggle-label:hover .pure-toggle-icon,
.pure-toggle-label:hover .pure-toggle-icon:after,
.pure-toggle-label:hover .pure-toggle-icon:before {
    background-color: #204050;
}
.pure-toggle-label:active {
    -webkit-tap-highlight-color: transparent;
}
.pure-toggle-label .pure-toggle-icon,
.pure-toggle-label .pure-toggle-icon:after,
.pure-toggle-label .pure-toggle-icon:before {
    position: absolute;
    top: 55%;
    left: 50%;
    height: 2px;
    width: 30px;
    cursor: pointer;
    background: #204050;
    display: block;
    content: "";
    transition: all 0.2s ease-in-out;
}
.pure-toggle-label .pure-toggle-icon {
    transform: translate3d(-50%, -4px, 0);
    -webkit-transform: translate3d(-50%, -4px, 0);
}
.pure-toggle-label .pure-toggle-icon:before {
    transform: translate3d(-50%, -14px, 0);
    -webkit-transform: translate3d(-50%, -14px, 0);
}
.pure-toggle-label .pure-toggle-icon:after {
    transform: translate3d(-50%, 10px, 0);
    -webkit-transform: translate3d(-50%, 10px, 0);
}
.pure-toggle[data-toggle="right"]:checked ~ .pure-toggle-label[data-toggle-label="right"] {
    border-color: #1fc08e;
    color: #1fc08e;
}
.pure-toggle[data-toggle="right"]:checked ~ .pure-toggle-label[data-toggle-label="right"] .pure-toggle-icon {
    background-color: transparent;
}
.pure-toggle[data-toggle="right"]:checked ~ .pure-toggle-label[data-toggle-label="right"] .pure-toggle-icon:after,
.pure-toggle[data-toggle="right"]:checked ~ .pure-toggle-label[data-toggle-label="right"] .pure-toggle-icon:before {
    top: 0;
}
.pure-toggle[data-toggle="right"]:checked ~ .pure-toggle-label[data-toggle-label="right"] .pure-toggle-icon:before {
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
}
.pure-toggle[data-toggle="right"]:checked ~ .pure-toggle-label[data-toggle-label="right"] .pure-toggle-icon:after {
    transform: translateX(-50%) translateY(-10px) rotate(-45deg);
    -webkit-transform: translateX(-50%) translateY(-10px) rotate(-45deg);
    top: 10px;
}
.pure-drawer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    visibility: hidden;
    background-color: #1878ad;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    width: 100%;
}
@media only screen and (min-width: 40.063em) {
    .pure-drawer {
        width: 320px;
    }
}
@media only screen and (min-width: 64.063em) {
    .pure-drawer {
        width: 320px;
    }
}
.pure-drawer[data-position="right"] {
    left: auto;
    right: 0;
}
.pure-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}
.pure-toggle[data-toggle="right"]:checked ~ .pure-overlay[data-overlay="right"] {
    right: 100%;
}
@media only screen and (min-width: 40.063em) {
    .pure-toggle[data-toggle="right"]:checked ~ .pure-overlay[data-overlay="right"] {
        right: 320px;
    }
}
@media only screen and (min-width: 64.063em) {
    .pure-toggle[data-toggle="right"]:checked ~ .pure-overlay[data-overlay="right"] {
        right: 320px;
    }
}
.pure-toggle[data-toggle="right"]:checked ~ .pure-overlay[data-overlay="right"] {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 3;
}
[data-effect="pure-effect-push"] .pure-drawer {
    transition-duration: 0.2s;
}
[data-effect="pure-effect-push"] .pure-drawer[data-position="right"] {
    transform: translate3d(100%, 0, 0);
}
[data-effect="pure-effect-push"] .pure-toggle[data-toggle="right"]:checked ~ .pure-drawer[data-position="right"] {
    visibility: visible;
    transform: translateZ(0);
}
[data-effect="pure-effect-push"] .pure-overlay {
    transition-duration: 0.5s;
    transition-delay: 0.25s;
}
.pure-container {
    display: none;
}
.pure-drawer {
    background-color: #fff;
    /*margin-top: 50px;*/
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
}
.pure-toggle-label .pure-toggle-icon:before {
    transform: translate3d(-50%, -10px, 0);
}
.pure-toggle-label .pure-toggle-icon:after {
    transform: translate3d(-50%, 8px, 0);
}
@media (max-width: 1025px) {
    .pure-container {
        display: block;
    }
}




input:focus {
    background-position: 0 0;
}
input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.main-menu .menu-item {
    margin-bottom: 10px;
    list-style: none;
}
.main-menu .menu-link {
    color: inherit;
    display: inline-block;
    font-family: Roboto Medium, sans-serif;
    font-size: 17px;
    opacity: 0.7;
    padding: 12px 15px 12px 20px;
    position: relative;
    text-decoration: none;
}
.main-menu .menu-link:before {
    background-color: #e21c2c;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: calc(50% - 4px);
    width: 8px;
}
.main-menu .router-link-active {
    position: relative;
}
.main-menu .router-link-active,
.main-menu .router-link-active:before,
.main-menu a:hover,
.main-menu a:hover:before {
    opacity: 1;
}
.mobile-menu .main-menu {
    list-style: none;
    margin-top: 86px;
    /*margin-bottom: 100px;*/
    padding: 50px 40px;
}
.user-menu-wrapper {
    display: none;
}
@media (min-width: 1024px) {
    .user-menu-wrapper {
        display: block;
    }
}








@media (max-width: 767px) {
	header {
		position: fixed;
		background-color: white;
		width: 100%;
		z-index: 10;
		top: 0;
	}

	.hero {
		margin-top: 86.4px;
	}
}








@media screen and (max-width: 1199px) {
	.tabs-menu button {
		max-width: calc(100% / 5);
		min-width: calc(100% / 5);
	}
}



@media screen and (max-width: 991px) {

	.container {
		max-width: 728px;
	}

	.tabs-menu button {
		max-width: calc(100% / 4);
		min-width: calc(100% / 4);
	}

	.qa_item {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {

	.container {
		padding-right: 24px;
		padding-left: 24px;
	}

	.header-phone {
		display: none;
	}

	.header-phone-mobile {
		display: inline;
	}

	.tabs-menu {
		flex-direction: column-reverse;
	}

	.tabs-menu button {
		flex-grow: 1;
		max-width: 100%;
		line-height: 1em;
		font-size: 1.1em;
		padding: 10px 20px;
		text-align: center;
		vertical-align: middle;
		min-height: 0;
	}

	button.current {
		transform: none;
	}

	.footer-menu {
		flex-direction: column;
	}

	.footer-column:not(:last-of-type) {
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 479px) {

	.logo img {
		max-height: 39px;
	}

	.hero {
		padding-top: 20px;
	}
}

html {
	overflow-x: hidden;
}





@media (max-width: 1199px) {
    .tab-content-container {
        max-width: 960px;
    }
}



@media (max-width: 991px) {
    .tab-content-container {
        max-width: 720px;
    }
}



@media (max-width: 767px) {
    .tab-content-container {
        max-width: 540px;
    }

    .qa_question {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    .logo_img {
        height: 47px;
    }

    .navbar {
        padding: 12px 16px;
    }

    .tab-content-container {
        max-width: 540px;
    }

    .qa_question {
        font-size: 20px;
    }
}
























/* Стили из Bootstrap */

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    color: #212529;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}










.creator_signature {
    color: white;
    font-size: 1rem;
    margin-bottom: 17px;
}

.creator_signature_link {
    color: white;
}

.creator_signature_link:hover {
    color: #9fd5ff;
}