{% extends 'website/base.html' %}
{% import "website/macros.html" as macros %}


{% block title %}
{{ site_title }}
{% endblock %}


{% block styles %}
{% if qa_text_shadow %}
<style>
	.qa_item, .tabs-menu button {
		text-shadow: 0 0 1px black;
	}
</style>
{% endif %}
{% endblock %}


{% block body %}

{{ macros.title_main_page(site_title, site_subtitle) }}

<section class="faq">
	<div class="tabs-menu flex">
		{% for category in result_list %}
		<button onclick="showPanel({{ category[0] }}, {{ category[0] }})" style="background-color: {{ category[1].color }};">
			<i class="fa {{ category[1].icon_name }}" aria-hidden="true"></i>
			{{ category[1].name }}
		</button>
		{% endfor %}

		<button onclick="showPanel({{ result_list | length }}, {{ result_list | length }})" class="current" style="background-color: {{ result_popular_list[0].color }};">
			<i class="fa {{ result_popular_list[0].icon_name }}" aria-hidden="true"></i>
			{{ result_popular_list[0].name }}
		</button>
	</div>


	{% for category in result_list %}
	<div class="tab-content" style="background-color: {{ category[1].color }};">
		<div class="tab-content-container">

			{% for qa in category[2] %}
			<div class="qa_item">
				<div class="qa_item_container {{ 'active' if qa.is_popular }}">
					<div class="qa_icon">
						<i class="fa {{ category[1].icon_name }}" aria-hidden="true"></i>
					</div>
					<div class="qa_content">
						<div class="qa_question">
							{{ qa.question }}
						</div>
						<div class="qa_answer">
							{{ qa.answer | safe }}
						</div>
					</div>
				</div>
				<div class="item_separator"></div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}


	<div class="tab-content" style="background-color: {{ result_popular_list[0].color }};">
		<div class="tab-content-container">

			{% for qa in result_popular_list[1] %}
			<div class="qa_item">
				<div class="qa_item_container">
					<div class="qa_icon">
						<i class="fa {{ qa[1] }}" aria-hidden="true"></i>
					</div>
					<div class="qa_content">
						<div class="qa_question">
							{{ qa[0].question }}
						</div>
						<div class="qa_answer">
							{{ qa[0].answer | safe }}
						</div>
					</div>
				</div>
				<div class="item_separator"></div>
			</div>
			{% endfor %}
		</div>
	</div>

</section>
{% endblock %}



{% block scripts %}
<script src="{{ url_for('.static', filename='js/script.js') }}"></script>
<script>
	showPanel({{ result_list | length }}, {{ result_list | length }});
</script>
{% endblock %}