.picker_window {
    padding: 10px;
    position: fixed;
    z-index: 999;
    top: 10px;
    left: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
}
.picker {
    display: block;
    padding-bottom: 10px;
}