{% extends 'website/base.html' %}
{% import "website/macros.html" as macros %}

{% block title %}
Изменение цвета категории
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/color-picker.css') }}">
{% endblock %}


{% block body %}

		{{ macros.title_main_page() }}


		<div class="picker_window">
			<div class="picker" 
				acp-color="{{ current_category.color }}" 
				acp-show-rgb="no"
				acp-show-hsl="no"
				acp-show-hex="yes">
			</div>
			<div style="text-align: center;">
				<button class="btn btn-success" id="save_color">Сохранить</button>
				<a href="{{ url_for('.ViewCategory:category') }}" class="btn btn-secondary">Отмена</a>
			</div>	
		</div>

		
		

		<section class="faq">

			<div class="tabs-menu flex">
				{% for category in categories_list %}
				<button style="background-color: {{ category.color }};">
					<i class="fa {{ category.icon_name }}" aria-hidden="true"></i>
					{{ category.name }}
				</button>
				{% endfor %}
			</div>

			<div class="tab-content current_tab" id="current_tab" style="background-color: {{ current_category.color }}; display: block;">
				<div class="tab-content-container" id="tab-content-container">



					{% if is_popular_category %}

						{% for qa in qa_list %}
						<div class="qa_item">
							<div class="qa_item_container">
								<div class="qa_icon">
									<i class="fa {{ qa[1] }}" aria-hidden="true"></i>
								</div>
								<div class="qa_content">
									<div class="qa_question">
										{{ qa[0].question }}
									</div>
									<div class="qa_answer">
										{{ qa[0].answer | safe }}
									</div>
								</div>
							</div>
							<div class="item_separator"></div>
						</div>
						{% endfor %}



					{% else %}
					
						{% for qa in qa_list %}
						<div class="qa_item">
							<div class="qa_item_container {{ 'active' if qa.is_popular }}">
								<div class="qa_icon">
									<i class="fa {{ current_category.icon_name }}" aria-hidden="true"></i>
								</div>
								<div class="qa_content">
									<div class="qa_question">
										{{ qa.question }}
									</div>
									<div class="qa_answer">
										{{ qa.answer | safe }}
									</div>
								</div>
							</div>
							<div class="item_separator"></div>
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</section>

{% endblock %}


{% block scripts %}
	
	<script src="{{ url_for('website.static', filename='js/script.js') }}"></script>

	<script>
		showPanel(0, {{ index }});
	</script>

	<script src="https://cdn.jsdelivr.net/npm/a-color-picker@1.2.1/dist/acolorpicker.min.js"></script>

	<script>
		var button = $("button.current");
		var bgc = $(".current_tab");
		AColorPicker.from('.picker')
		.on('change', (picker, color) => {
			button.css('backgroundColor', color);
			bgc.css('backgroundColor', color);
		});
	</script>

	<script>
		$("#save_color").on("click", function() {
			var bgc = $(".current_tab").css("backgroundColor");
			window.location.href = "{{ url_for('.FormHandlerCategory:change_color') }}?color="+bgc+"&cat_id={{ current_category.id }}";
		})		
	</script>
{% endblock %}