{% extends 'admin/base.html' %}
{% import "admin/macros.html" as macros %}

{% set text_word_type = "черн" if word_type == "black" else "бел" %}

{% block title %}
{{ text_word_type | capitalize -}}ый список слов
{% endblock %}

{% block page_header %}
{{ text_word_type | capitalize -}}ый список слов
{% endblock %}


{% block modals %}
{{ macros.modal(modal_id = "addModal",
		handler_url = url_for('.FormHandlerExceptionWord:add_exception_word', word_type=word_type),
		title = "Добавление слова в " + text_word_type + "ый список",
		hidden_fields = [add_exception_word_form.csrf_token],
		visible_fields = [
			[
				add_exception_word_form.word.label(class_="col-form-label"),
				add_exception_word_form.word(class_="form-control", id="edit_category_content")
			]
		],
		buttons = [
			'<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>',
			add_exception_word_form.submit(class_="btn btn-primary")
		]
	)
}}

{{ macros.modal(modal_id = "editModal",
		handler_url = url_for('.FormHandlerExceptionWord:edit_exception_word', word_type=word_type),
		title = "Редактирование слова из "+ text_word_type +"ого списка",
		hidden_fields =
		[
			edit_exception_word_form.csrf_token,
			edit_exception_word_form.id(id="edit_id")
		],
		visible_fields = [
			[
				edit_exception_word_form.word.label(class_="col-form-label"),
				edit_exception_word_form.word(class_="form-control", id="edit_name_content")
			]
		],
		buttons = [
			'<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>',
			edit_exception_word_form.submit(class_="btn btn-primary")
		]
	)
}}

{{ macros.modal(modal_id = "deleteModal",
		handler_url = url_for('.FormHandlerExceptionWord:delete_exception_word', word_type=word_type),
		title = "Удаление слова из "+ text_word_type +"ого списка",
		optional_top = 
			'<strong>Подтвердите удаление слова: </strong>
			<span class="modal_inline_content" id="delete_name_content"></span>',
		hidden_fields =
		[
			delete_exception_word_form.csrf_token,
			delete_exception_word_form.id(id="delete_id")
		],
		buttons = [
			'<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>',
			delete_exception_word_form.submit(class_="btn btn-danger")
		]
	)
}}
{% endblock %}




{% block body %}
{{ macros.flash_messages() }}

<div class="btn_container">
	<button type="button" class="btn btn-success button_active" data-bs-toggle="modal" data-bs-target="#addModal">
		Добавить слово
	</button>
	{% set current_url = url_for('.ViewTechSetting:black_words') if word_type == "black" else url_for('.ViewTechSetting:white_words') %}
	{{ macros.update_cleared_questions_dbase(current_url) }}
</div>





<table class="table table-striped table-sm">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Слово</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for black_word in black_words %}

		<tr class="table_line_item" data-id="{{ black_word.id }}" data-name="{{ black_word.word }}">
			<th scope="row"></th>
			<td>{{ black_word.word }}</td>
			
			<td scope="col" width="45"><i class="fa fa-pencil fa-lg table_action_icon edit_icon" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#editModal" title="Редактировать"></i></td>
			<td scope="col" width="45"><i class="fa fa-trash fa-lg table_action_icon delete_icon" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Удалить"></i></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('.static', filename='js/modal_load_data/modal_black_word.js')}}"></script>
<script src="{{ url_for('.static', filename='js/renumber_rows.js')}}"></script>
{% endblock %}