{% macro modal(modal_id, handler_url, title, optional_top, hidden_fields, visible_fields, optional_bottom, buttons) %}
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{{ handler_url }}" method="post">
				<div class="modal-header">
					<h5 class="modal-title" id="{{ modal_id }}Label">{{ title }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body">
					<div style="margin-bottom: 10px;">
						{{ optional_top | safe }}
					</div>
					{% for hidden_field in hidden_fields %}
					{{ hidden_field }}
					{% endfor %}

					{% for visible_field in visible_fields %}
					<div class="mb-3">
						{% for visible_field_element in visible_field %}
						{{ visible_field_element }}
						{% endfor %}
					</div>
					{% endfor %}

					{{ optional_bottom | safe }}
					
				</div>
				<div class="modal-footer">
					{% for button in buttons %}
					{{ button | safe }}
					{% endfor %}
				</div>
			</form>
		</div>
	</div>
</div>
{% endmacro %}


{% macro flash_messages() %}
{% for cat, msg in get_flashed_messages(True) %}
<div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
  {{ msg }}
</div>
{% endfor %}
{% endmacro %}


{% macro dashboard_item(title, color, link, optional_bottom) %}
<div class="block_item">
	<div class="block_item_container" onclick="{{ link }}" style="background-color: {{ color }};">
		<div class="block_item_title">
			{{ title | safe }}
		</div>
		{{ optional_bottom | safe }}
	</div>
</div>
{% endmacro %}


{% macro update_cleared_questions_dbase(current_url) %}
<a href="{{ url_for('.ViewRequest:update_cleared_questions_dbase', next_to=current_url) }}" class="btn btn-primary button_active" title="Обновление очищенных вопросов займет ~10 секунд. Это необходимо делать только после изменений базы синонимов, черного и белого списков">Обновить очищенные вопросы</a>
{% endmacro %}


{% macro back_button(url, text) %}
<a class="btn btn-light button_active back_button" href="{{ url }}" role="button">
	<i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 6px;"></i>
	{{ text }}
</a>
{% endmacro %}