{% extends 'admin/base.html' %}
{% import "admin/macros.html" as macros %}

{% block title %}
История поиска
{% endblock %}

{% block page_header %}
История поиска
{% endblock %}



{% block body %}
{{ macros.flash_messages() }}

<div class="btn_container">

	<a href="{{ url_for('.ViewRequest:requests_history') }}" class="btn btn-primary button_active" data-bs-dismiss="modal">Скачать базу пользовательских запросов</a>
</div>


<table class="table table-striped table-sm">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Исходный запрос</th>
			<th scope="col">Очищенный</th>
			<th scope="col">Дата</th>
			<th scope="col">Время</th>
	</thead>
	<tbody>
		{% for request in requests %}
		<tr class="table_line_item">
			<th scope="row" width="40">{{ request.id }}</th>
			<td>{{ request.original }}</td>

			<td>{{ request.cleared }}</td>
			<td>{{ request.date_time.strftime('%d.%m.%Y') }}</td>
			<td>{{ request.date_time.strftime('%H:%M:%S') }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


<nav aria-label="Пример навигации по страницам">
  <ul class="pagination">

  	{% if first_pages | length > 0 %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('.ViewRequest:requests', page=current_page-1) }}" aria-label="Предыдущая">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

    {% for page in first_pages %}
    <li class="page-item"><a class="page-link" href="{{ url_for('.ViewRequest:requests', page=page) }}">{{ page }}</a></li>
    {% endfor %}

    <li class="page-item active" aria-current="page">
      <a class="page-link" href="{{ url_for('.ViewRequest:requests', page=current_page) }}">{{ current_page }}</a>
    </li>

    {% for page in last_pages %}
    <li class="page-item"><a class="page-link" href="{{ url_for('.ViewRequest:requests', page=page) }}">{{ page }}</a></li>
    {% endfor %}

    {% if last_pages | length > 0 %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('.ViewRequest:requests', page=current_page+1) }}" aria-label="Следующая">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}

  </ul>
</nav>
{% endblock %}