{% extends 'admin/base.html' %}
{% import "admin/macros.html" as macros %}

{% block title %}
Синонимы
{% endblock %}

{% block page_header %}
Синонимы
{% endblock %}



{% block modals %}
{{ macros.modal(modal_id = "addModal",
		handler_url = url_for('.FormHandlerSynonym:add_synonym', word_id=word_id),
		title = "Добавление синонима",
		hidden_fields = [add_synonyms_dependent_form.csrf_token],
		visible_fields = [
			[
				add_synonyms_dependent_form.word.label(class_="col-form-label"),
				add_synonyms_dependent_form.word(class_="form-control", id="edit_category_content")
			]
		],
		buttons = [
			'<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>',
			add_synonyms_dependent_form.submit(class_="btn btn-primary")
		]
	)
}}

{{ macros.modal(modal_id = "editModal",
		handler_url = url_for('.FormHandlerSynonym:edit_synonym', word_id=word_id),
		title = "Редактирование синонима",
		hidden_fields = [
			edit_synonyms_dependent_form.csrf_token,
			edit_synonyms_dependent_form.word_id(id="edit_id")
		],
		visible_fields = [
			[
				edit_synonyms_dependent_form.word.label(class_="col-form-label"),
				edit_synonyms_dependent_form.word(class_="form-control", id="edit_name_content")
			]
		],
		buttons = [
			'<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>',
			edit_synonyms_dependent_form.submit(class_="btn btn-primary")
		]
	)
}}

{{ macros.modal(modal_id = "deleteModal",
		handler_url = url_for('.FormHandlerSynonym:delete_synonym', word_id=word_id),
		title = "Удаление синонима",
		optional_top = 
		'<strong>Подтвердите удаление синонима: </strong>
		<span class="modal_inline_content" id="delete_name_content"></span>',
		hidden_fields = [
			delete_synonyms_dependent_form.csrf_token,
			delete_synonyms_dependent_form.word_id(id="delete_id")
		],
		buttons = [
			'<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>',
			delete_synonyms_dependent_form.submit(class_="btn btn-danger")
		]
	)
}}
{% endblock %}



{% block body %}
{{ macros.flash_messages() }}

<div class="btn_container">
	<button type="button" class="btn btn-success button_active" data-bs-toggle="modal" data-bs-target="#addModal">
		Добавить слово
	</button>
	{{ macros.update_cleared_questions_dbase(url_for('.ViewSynonym:synonyms')) }}
</div>


<table class="table table-striped table-sm">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Слово</th>
			<th scope="col">Синонимы</th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for main_dependent_word in main_dependent_words %}

		<tr class="table_line_item" data-id="{{ main_dependent_word[0].id }}" data-name="{{ main_dependent_word[0].word }}">
			<th scope="row" width="40"></th>
			<td>{{ main_dependent_word[0].word }}</td>
			<td>
				{% for dependent_word in main_dependent_word[1] %}
				{{ dependent_word.word -}} {{ ',' if not loop.last }}
				{% endfor %}
			</td>
			
			<td scope="col" width="45">
				<a href="{{ url_for('.ViewSynonym:synonyms_replacement', word_id=main_dependent_word[0].id) }}">
					<i class="fa fa-eye fa-lg table_action_icon view_icon category_table" aria-hidden="true" title="Просмотреть синонимы слова"></i>
				</a>
			</td>
			<td scope="col" width="45"><i class="fa fa-pencil fa-lg table_action_icon edit_icon category_table" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#editModal" title="Редактировать"></i></td>
			<td scope="col" width="45"><i class="fa fa-trash fa-lg table_action_icon delete_icon category_table" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Удалить"></i></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}



{% block scripts %}
<script src="{{ url_for('.static', filename='js/modal_load_data/modal_synonym.js')}}"></script>
<script src="{{ url_for('.static', filename='js/renumber_rows.js')}}"></script>
{% endblock %}